<div id="<%= dom_id aluno %>">
  <p>
    <strong>Cod:</strong>
    <%= aluno.cod %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= aluno.idade %>
  </p>

</div>
