<div id="<%= dom_id classe_disciplina %>">
  <p>
    <strong>Sala:</strong>
    <%= classe_disciplina.sala_id %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= classe_disciplina.disciplina_id %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= classe_disciplina.professor_id %>
  </p>

</div>
