<h1>Editing classe disciplina</h1>

<%= render "form", classe_disciplina: @classe_disciplina %>

<br>

<div>
  <%= link_to "Show this classe disciplina", @classe_disciplina %> |
  <%= link_to "Back to classe disciplinas", classe_disciplinas_path %>
</div>
